<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Event</th>
<!--        <th>Event Description</th>-->
<!--        <th>Contact Email</th>-->
<!--        <th>Category Name</th>-->

    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
<!--        <td th:text="${event.id}"></td>-->
<!--        <td th:text="${event.name}"></td>-->
<!--        <td th:text="${event.eventDetails.description}"></td>-->
<!--        <td th:text="${event.eventDetails.contactEmail}"></td>-->
<!--        <td th:text="${event.eventCategory.name}"></td>-->
    </tr>
</table>

</body>
</html>